@page "/about"
<h3>Über</h3>
<p>
    Für die Planung deines Wocheneinkaufs interpretiert die intelligente Einkaufliste deinen Wunsch und macht entsprechende Vorschläge.<br />
    So wird z.B. die Eingabe "1 Milch" zu "1 Liter Milch". Ziemlich cool, oder?
</p>
@code {

}
