@using INEZ.Data.Entities
@inject IModalService ModalService

<p>Möchtest du "@Item.Name" wirklich löschen?</p>
<button @onclick="Cancel" class="btn btn-secondary">Abbrechen</button>
<button @onclick="Confirm" class="btn btn-danger">Bestätigen</button>

@code {

    [CascadingParameter]
    ModalParameters Parameters { get; set; }

    public Item Item { get; set; }

    protected override void OnInitialized()
    {
        Item = Parameters.Get<Item>("Item");
    }

    void Confirm()
    {
        ModalService.Close(ModalResult.Ok(Item));
    }

    void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }

}