@page "/einkaufsliste"
@using INEZ.Data
@using INEZ.Classes
@using INEZ.Data.Entities
@using System.ComponentModel
@using System.Reflection



@inject ItemsService ItemsService
<h3>Einkaufsliste</h3>

@if (items == null)
{
    <p><em>Lade...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@NameDisplayValue</th>
                <th>@DescriptionDisplayValue</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Item> items;

    protected override async Task OnInitializedAsync()
    {
        items = await ItemsService.GetItemsAsync();
    }

    public string NameDisplayValue
    {
        get
        {
            return DisplayHelper.GetDisplayName<Item>(i => i.Name) ?? nameof(Item.Name);
        }
    }

    public string DescriptionDisplayValue
    {
        get
        {
            return DisplayHelper.GetDisplayName<Item>(i => i.Description) ?? nameof(Item.Description);
        }
    }
}
