@page "/"

<h1>Hallöchen!</h1>

Wilkommen auf der Seite der intelligenten Einkaufliste. <br/>
Du kannst hier direkt mit der Planung deines Wocheneinkaufs loslegen. Schreibe einfach etwas in das Textfeld unten.