@page "/"

<h1>Hallöchen!</h1>

Wilkommen auf der Seite der intelligenten Einkaufsliste. <br/>
Du kannst hier direkt mit der Planung deines Wocheneinkaufes loslegen. Du musst dich allerdings anmelden.