<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Angemeldet als @context.User.Identity.Name</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Abmelden</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registrieren</a>
        <a href="Identity/Account/Login">Anmelden</a>
    </NotAuthorized>
</AuthorizeView>
